<section>
    <div>
        <div class="validaciones">
            <label for="user"></label>User
            <input type="text" id="user">
        </div>

        <div class="validaciones">
            <label for="email"></label>Email
            <input type="email" id="email">
        </div>

        <div class="validaciones">
            <label for="password"></label>Password
            <input type="password" id="password">
        </div>

        <div class="boton">
            <button type="button">Acceder</button>  
        </div>
    </div>

    

</section>