/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Seccin */
section {
    position: relative;
    background: #fff;
    border-radius: 8px;
    margin: 30px;
    padding: 20px;
}

/* Botones */
button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    transition: background-color 0.2s;
}

.crear-button {
    position: absolute;
    right: 20px;
    top: 5px;

}

section button {
    padding: 5px 10px;
}

.button-box {
    display: flex;
}

button {
    display: flex;
    position: relative;
    align-items: center;
    gap: 3px;
}

.button-box .sub-text {
    opacity: 0;
    top: -40px;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    left: 50%;
    background-color: #074b05;
    transform: translate(-50%, 0) rotate(90deg);
    pointer-events: none;
    transition: 0.5s;
}

.button-box button:hover .sub-text {
    opacity: 1;
    transform: rotate(0deg);
}


/* Tabla */
table {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

select {
    margin-right: 50px;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #df9096;
    color: white;
}

tr:hover {
    background-color: #e7c2c2;
}

/* Formulario */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px grey;
    border-radius: 5px;

}