<section>
<Button class="crear-button" (click)="crearTransaccion()">Crear</Button>
<button class="salir-button" (click)="logout()">Salir</button>
<table>
  <thead>
    <tr>
      <th>
        Fecha
      </th>
      <th>
        Monto
      </th>
      <th>
        Motivo
      </th>
      <th>
        Accion
      </th>
    </tr>
  </thead>
  @for (item of transacciones; track $index){
  <tr>
    <td>
      {{item.fecha}}
    </td>
    <td>
        {{item.monto}}
    </td>
    <td>
      {{item.motivo}}
    </td>
    <td>
      <div class="button-box">
        <button class="delete-button" (click)="eliminarTransaccion(item.id)">
          <span  class="material-symbols-outlined">
            delete
          </span>
          <span class="sub-text">
            Eliminar
          </span>
        </button>
        <button (click)="actualizarTrasaccion(item)">
          <span class="material-symbols-outlined">
            upgrade
            </span>
            <span class="sub-text">
              Actualizar
            </span>
        </button>
      </div>
    </td>
  </tr>
}@empty {
  <tr>No hay datos</tr>
}
</table>

@if (formTransaccion) {
  <form [formGroup]="formTransaccion" >
    <label for="fecha"></label>Fecha
    <input formControlName="fecha" type="date" id="fecha">

  <label for="monto"></label>Monto
  <input formControlName="monto" type="number" id="monto">
<br>
  <label for="motivo"></label>Motivo
  <input formControlName="motivo" type="text" id="motivo">
  <label for="tipo"></label>tipo
  <select formControlName="type_id" id="type_id">
    <option [value]="null">Seleccione un tipo</option>
    @for (item of tipoTransacciones; track $index) {
      <option [value]="item.id">{{item.tipoTransaccion}}</option>
    }
  </select>
  <button (click)="cancelarTransaccion()">Cancelar</button>
  <button (click)="guardarTransaccion()">Guardar</button>
  
</form>
}
</section>
