<section>
    <form (submit)="login()">
    <div class="login">
        <h1>Login</h1>
            <label for="email"></label>Email
            <input [(ngModel)]="email" type="email" name="email" placeholder="jhonalexander2016.com@gmail.com">

            <label for="password"></label>Password
            <input [(ngModel)]="password" type="password" name="password" placeholder="123456789">
            
        <div class="boton">
            <button type="submit">Acceder</button> 
        </div>
    </div>
</form>

</section>