<section>
    <div class="login">
        <h1>Login</h1>
            <label for="user"></label>User
            <input type="text" id="user" placeholder="Test user">

            <label for="email"></label>Email
            <input type="email" id="email" placeholder="jhonalexander2016.com@gmail.com">

            <label for="password"></label>Password
            <input type="password" id="password" placeholder="123456789">

        <div class="boton">
            <button type="button">Acceder</button>  
        </div>
    </div>


</section>