<section>
<Button (click)="crearTransaccion()">Crear</Button>
<table>
  <thead>
    <tr>
      <th>
        Monto
      </th>
      <th>
        Motivo
      </th>
      <th>
        Accion
      </th>
    </tr>
  </thead>
  @for (item of transacciones; track $index){
  <tr>
    <td>
        {{item.monto}}
    </td>
    <td>
      {{item.motivo}}
    </td>
    <td>
      <button (click)="eliminarTransaccion($index)">Eliminar</button>
      <button (click)="actualizarTrasaccion($index,item)">Actualizar</button>
    </td>
  </tr>
}@empty {
  <tr>No hay datos</tr>
}
</table>

@if (formTransaccion) {
  <form [formGroup]="formTransaccion" >
  <label for="monto"></label>Monto
  <input formControlName="monto" type="number" id="monto">
<br>
  <label for="motivo"></label>Motivo
  <input formControlName="motivo" type="text" id="motivo">
  <button (click)="cancelarTransaccion()">Cancelar</button>
  <button (click)="guardarTransaccion()">Guardar</button>
  
</form>
}
</section>